{% extends 'base-backend.html.twig' %}

{% block title %}Ajouter un nouveau livre{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_livre_index') }}" class="btn btn-dark mb-3"><i class="align-middle" data-feather="corner-down-left"></i> Retour</a>
    <h1>Ajouter un nouveau livre</h1>

    {{ include('admin_livre/_form.html.twig') }}

{% endblock %}
